body {
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400%, 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1 {
    padding-top: 3vw;
    padding-bottom: 2vw;
    text-align: center;
    font-family: fantasy;
}

.inpute {
    padding-top: 3vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.container {
    padding-top: 8vw;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}